
.btn-group-vertical button{
  background-color: #fdffff;
  color: #1e1f26;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  text-align: left;
}
.btn-group-vertical button:hover{
  background-color: #d0e1f9;
}

.btn-group-vertical button.highlighed {
  background-color: #d0e1f9;
  color: #283655;
  font-weight: bold;
}

.card {
  margin-bottom: 10px;
}

.card button {
  background-color: #fa812f;
  border-color: #fa812f;
  cursor: pointer;
}
