
.navbar-light .navbar-nav .nav-link {
  text-align: center;
}

li[dropdown] {
  cursor: pointer;
}

.left-auto {
  left: auto !important;
}

.mb-40 {
  margin-bottom: 40px;
}

.badge {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 30%;
}

.mob-display {
  display: none; 
}

@media screen and (max-width: 500px) {
  .mob-display {
    display: inherit; 
  }
  
  .mob-no-display {
    display: none; 
  }
}
