<nav class="navbar navbar-expand-sm mb-40 fixed-top">
  <div class="container">

    <a class="navbar-brand" [routerLink]="['/home']" (click)="toggleIfOpen()">
      E
      <i class="fa fa-leaf"></i>
    </a>

    <!-- mob cart display -->
    <ul class="navbar-nav mr-auto mt-lg-0 mob-display">
      <!-- shopping cart -->
      <li class="nav-item" routerLinkActive="shopping-cart" (click)="toggleIfOpen()">
        <a class="nav-link" [routerLink]="['/shopping-cart']">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge bg-orange" *ngIf="cart$ | async as cart" [ngClass]="getCartBadgeColor(cart.totalItemsCount)">
            {{ cart.totalItemsCount }}
          </span>
        </a>
      </li>
    </ul>

    <!-- Toggler -->
    <button (click)="toggleCollapse()" class="navbar-toggler" type="button" data-toggle="collapse">
      <span class="navbar-toggler-icon">
        <i class="fa" [ngClass]="getChevronDirection()"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">

      <!-- left list -->
      <ul class="navbar-nav mr-auto mt-lg-0">

        <!-- products -->
        <li class="nav-item" routerLinkActive="products" (click)="toggleIfOpen()">
          <a class="nav-link" [routerLink]="['/products']">
            Products
          </a>
        </li>

        <!-- shopping cart -->
        <li class="nav-item mob-no-display" routerLinkActive="shopping-cart" (click)="toggleIfOpen()">
          <a class="nav-link" [routerLink]="['/shopping-cart']">
            <i class="fa fa-shopping-cart"></i>
            <span class="badge bg-orange" *ngIf="cart$ | async as cart" [ngClass]="getCartBadgeColor(cart.totalItemsCount)">
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>
      </ul>

      <!-- right list -->
      <ul class="navbar-nav mt-lg-0">
        <!-- Logged in or not  -->
        <li class="nav-item" dropdown *ngIf="appUser; else notlogged">
          <a class="nav-link dropdown-toggle" dropdownToggle>
            {{ appUser.name }}
          </a>
          <ul *dropdownMenu class="dropdown-menu left-auto">
            <li class="nav-item" routerLinkActive="my-orders" (click)="toggleIfOpen()">
              <a class="nav-link" [routerLink]="['/my-orders']">
                My Orders
              </a>
            </li>
            <!-- admin links -->
            <ng-container *ngIf="appUser.isAdmin">
              <li class="nav-item" routerLinkActive="admin/orders" (click)="toggleIfOpen()">
                <a class="nav-link" [routerLink]="['/admin/orders']">
                  Manage Orders
                </a>
              </li>
              <li class="nav-item" routerLinkActive="admin/products" (click)="toggleIfOpen()">
                <a class="nav-link" [routerLink]="['/admin/products']">
                  Manage Products
                </a>
              </li>
            </ng-container>
            <li class="nav-item" (click)="logout()">
              <a class="nav-link">
                Log Out
              </a>
            </li>
          </ul>
        </li>
        <ng-template #notlogged>
          <li class="nav-item" routerLinkActive="login" (click)="toggleIfOpen()">
            <a class="nav-link" [routerLink]="['/login']">
              Log In
            </a>
          </li>
        </ng-template>
      </ul>

    </div>
  </div>
</nav>