
<h1>Shopping Cart</h1>

<ng-container *ngIf="cart$ | async as cart">
  
  <p>You have <strong>{{ cart.totalItemsCount }}</strong> items in your shopping cart.</p>
  
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th> <!-- Image -->
        <th>Product</th> 
        <th class="text-center">Quantity</th> 
        <th>Price</th> 
      </tr>
    </thead>
    <!-- body -->
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td><div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div></td>
        <td>
          {{ item.title }}
        </td>
        <td class="grid-h-center">
          <app-quantity-changer 
            [product]="item"
            [shoppingCart]="cart">
          </app-quantity-changer>
        </td>
        <td>
          {{ item.totalPrice | currency:'USD':'symbol':'.2-2'}}
        </td>
      </tr>
    </tbody>
    <!-- footer -->
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <strong class="bigger">
            {{ cart.totalPrice | currency:'USD':'symbol':'.2-2' }}
          </strong>
        </th>
      </tr>
    </tfoot>
  </table>
  
  <button class="btn btn-danger btn-sm" (click)="clearCart()">
    Clear Shopping Cart
  </button>

</ng-container>

