
.thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-size: cover;
}

tbody tr td:first {
  width: fit-content;
}

.bigger {
  font-size: large;
}

table {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}

table td, 
table th{
  border-color: #c7defd;
}

table tr:nth-child(odd) {
  background: #f4f9fe;
}

table thead th {
  background-color: #e8f4fd;
}
