
<h1 class="mb-30">Shopping Cart</h1>

<ng-container *ngIf="cart$ | async as cart">
  
  <p>You have <strong>{{ cart.totalItemsCount }}</strong> items in your shopping cart.</p>
  
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th> <!-- Image -->
        <th>Product</th> 
        <th class="text-center">Quantity</th> 
        <th class="text-center">Price</th> 
      </tr>
    </thead>
    <!-- body -->
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td class="w-150">
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
        </td>
        <td class="w-250">
          {{ item.title }}
        </td>
        <td class="w-200">
          <app-quantity-changer 
            [product]="item"
            [shoppingCart]="cart">
          </app-quantity-changer>
        </td>
        <td class="w-150 text-center l-s-1">
          {{ item.totalPrice | currency:'USD':'symbol':'.2-2'}}
        </td>
      </tr>
    </tbody>
    <!-- footer -->
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center">
          <strong class="bigger l-s-1">
            {{ cart.totalPrice | currency:'USD':'symbol':'.2-2' }}
          </strong>
        </th>
      </tr>
    </tfoot>
  </table>
  
  <div class="row buttons" *ngIf="cart.totalItemsCount">
    <div class="col-3">
      <button class="btn btn-light" (click)="clearCart()">
        Clear Shopping Cart
      </button>
    </div>
    <div class="col"></div>
    <div class="col-3 text-right p-r-0">
      <button class="btn btn-secondary btn-checkout bg-orange" routerLink="/checkout">
        Checkout
      </button>
    </div>
  </div>

</ng-container>

