
.grid-cols-1x1 {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

.quantity {
  display: grid;
  align-self: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  background-color: #feffff;  
  width: 100%;
  height: 100%;
}

button {
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.justify-self-right {
  justify-self: right;
}
.justify-self-left {
  justify-self: left;
}
