
<div class="content-container">

  <h1 class="mb-30">Shopping Cart</h1>
  
  <ng-container *ngIf="cart$ | async as cart">
    
    <div class="row mb-10">
      <div class="col">
        <p>You have <strong>{{ cart.totalItemsCount }}</strong> items in your shopping cart.</p>
      </div>
      <div class="col pull-right text-right" *ngIf="cart.totalItemsCount">
        <button class="btn btn-light" (click)="clearCart()">
          Clear Cart
        </button>
      </div>
    </div>
    
    <div class="content">
      <table class="table table-custom-striped">
        <!-- head -->
        <thead>
          <tr>
            <th></th> <!-- Image -->
            <th>Product</th> 
            <th class="text-center">Quantity</th> 
            <th class="text-right">Price</th> 
          </tr>
        </thead>
        <!-- body -->
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td class="w-150">
              <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
            </td>
            <td class="w-250">
              {{ item.title }}
            </td>
            <td class="w-200">
              <app-quantity-changer 
                [product]="item"
                [shoppingCart]="cart">
              </app-quantity-changer>
            </td>
            <td class="w-150 text-right l-s-1">
              {{ item.totalPrice | currency:'USD':'symbol':'.2-2'}}
            </td>
          </tr>
        </tbody>
        <!-- footer -->
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">
              <strong class="bigger l-s-1">
                {{ cart.totalPrice | currency:'USD':'symbol':'.2-2' }}
              </strong>
            </th>
          </tr>
        </tfoot>
      </table>
      
      <div class="row" >
        <div class="col-md-3 col-sm-5 col-xs-12 grid-vert-center">
          
        </div>
        <div class="col-md-6 col-sm-2 col-xs-12"></div>
        <div class="col-md-3 col-sm-5 col-xs-12 text-right">
          <button class="btn btn-secondary btn-checkout bg-orange" routerLink="/checkout">
            Checkout
          </button>       
        </div>
      </div>
    </div>
  
  </ng-container>

</div>  
