
<div class="content-container">
  <h1 class="mb-30">Welcome to the e-shop</h1>

  <h5>This is a <span class="text-accent">fake</span> shop with <span class="text-accent">fake</span> products created for training/testing purposes.</h5>
  <br>
  <h5>Feel free to try the application's features:</h5>
  <ul>
    <li>Login with Google</li>
    <li>Browse products</li>
    <li>Add products to cart</li>
    <li>Checkout</li>
    <li>View orders</li>
  </ul>
  <h5>As an admin, you can</h5>
  <ul>
    <li>Add, remove, and edit products</li>
    <li>View all orders made</li>
  </ul>
  <h5>You can contact me at <span class="text-accent">omar-ma-salam@outlook.com</span> if you want to try the admin features.</h5>
  <br>
  <h5>Please not that your information <span class="text-accent">will not</span> be used outside the scope of this application.</h5>
</div>
