
.sticky-top {
  top: 80px;
}

@media screen and (max-width: 767px) {

  .sticky-top {
    text-align: center;
    position: inherit;
    max-width: 100%;  
  }

  .sticky-top button{
    text-align: center;
  }

}
