
.sticky-top {
  top: 80px;
}

button {
  background-color: #fdffff;
  color: #1e1f26;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  text-align: left;
}

button:hover {
  background-color: #d0e1f9;
}

button.highlighed {
  background-color: #d0e1f9;
  color: #283655;
  font-weight: bold;
}
